@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Is currently a 3rd year Computer Science student at UIC. Born in 1997 to Mexican parents, he was born and raised in Chicago. 
From a young age, sports and technology had always interested him. He spent a lot of his childhood playing sports
and meeting people all around the world on his computer via the internet. It was through his friends online that
he decided to become involved in programming, and has stuck with it since. His main interest has always been in video game design
as well as web development. </p>
