@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    5037 W Montana St<br />
    Chicago IL, 60639<br />
    <abbr title="Phone">P:</abbr>
    224.247.8738
</address>

<address>
    <strong>School Email:</strong> <a href="mailto:drodri64@uic.edu">drodri64@uic.edu</a><br />
    <strong>Personal Email:</strong> <a href="mailto:danrodriguez1797@gmail.com">danrodriguez1797@gmail.com</a>
</address>
